*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background: #556B2F;
}

.wrapper  {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  max-height: 100vh;
  overflow: hidden;
}

.slider  {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.slide  {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 100%;
}

.slide__img  {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.panel  {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
  height: 10%;
}

.texts  {
  display: flex;
  overflow: hidden;
  width: 75%;
  margin-left: 10%;
}

.text_wide  {
  display: flex;
  flex-direction: row;
  width: 400%;
  transition: transform 1s ease-in-out;
}

input[type="radio"] {
  display: none;
}

.controls  {
  display: flex;
  margin-right: 10%;
}

label  {
  cursor: pointer;
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
}

.controls__btn  {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #FF8C00;
	border: 0.3rem solid #556B2F;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
	/* margin: auto; */
}

.controls__btn:hover  {
  background-color: #FF8C00;
  border: 0.3rem solid #FF8C00;
}

.controls__btn:active  {
  background-color: #FF8C00;
  border: 0.3rem solid white;
}

.controls__btn:checked  {
  background-color: #FF8C00;
  border: 0.3rem solid white;
}


.panel__text  {
  color: #FF8C00;
  font-size: 2.4rem;
  flex-shrink: 0;
  width: 100%;
}

#btn1:checked ~ .slider {
  transform: translateX(0%);
}

#btn2:checked ~ .slider {
  transform: translateX(-100%);
}

#btn3:checked ~ .slider {
  transform: translateX(-200%);
}

#btn4:checked ~ .slider {
  transform: translateX(-300%);
}

#btn1:checked ~ .text_wide {
  transform: translateX(0%);
}

#btn2:checked ~ .text_wide {
  transform: translateX(-100%);
}

#btn3:checked ~ .text_wide {
  transform: translateX(-200%);
}

#btn4:checked ~ .text_wide {
  transform: translateX(-300%);
}





