*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background: #556B2F;
}

.wrapper  {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80vv;
  height: 100vh;

}

.slider  {
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}